.brands {
  padding: 58px 0;
  /* height: 186px; */
  background-color: var(--yellow);
}

.brands__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brands__list img {
  mix-blend-mode: multiply;
}
